.img {
  position: relative;
  margin-left: 0px;
  background-color: #263441;
}

.searchBar {
  position: relative;
  left: -140px;
  top: -60px;
}

#searchText {
  width: 700px;
  height: 34px;
}
.container-fluid {
  background-color: #263441;
}

.imgWidth {
  width: 1440px;
}
