.img {
  margin-left: -10px;
  background-color: #263441;
}

.searchBar {
  left: -140px;
  top: -60px;
}

#searchText {
  width: 700px;
  height: 34px;
}
.container-fluid {
  background-color: #263441;
}


#top-bar {
  width: 1440px;
  margin-left: -10px;

}
